/*--------------------------------------------------------------
# Single-Post
--------------------------------------------------------------*/

.nav-links{
  display:none;
}

.join{
font-family:Merriweather Web,serif;
 font-size:20px;

}

.entry-info{
  display:block;
  line-height:3;
}

.comment-reply-title{

  color:black;
}

.comment-form p{

  font-size:20px;
}

.logged-in-as{

  display:none;
}

.comment-form-comment label{

  font-family:Novecento Sans Web,sans-serif;
  text-transform:uppercase;
  
}

.comment-form-author{

      margin-right: 1%;
    width: 49%;
        float: left;
}
.comment-form-email{

  margin-left: 1%;
    width: 49%;
    float: left;
}

.comment-form-email input {
    width: 100%
}

textarea {
    padding-left: .3rem;
    width: 50%;
}