/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */



.body-content{

    margin-left:50px;
    margin-top:70px;
}

.site-content {
 margin-left: auto;
    margin-right: auto;

    /*width: 1120px;*/
}

.content-area {
    
    width: 100%;
  
    padding-top: 3rem;


}

.journal-site-content{
    display:flex;

}

.header-wrap img{
    height: auto;

}


.entry-header img{
    height:520px;
    width:760px;
}

.type-post .entry-header{
    position: relative;

}

.journal-title  {

    background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 1.1rem;
    left: 0;
   
    position: absolute;
    margin-top: 2.25rem;
    top: 0;

}

 .entry-title a{
    font-family:'novecentosanswide_demibold'; 
    display:block;

}

.entry-title a:hover{

    color: #f0e4d1;
}

 .entry-title{
    max-width: 100%;
}



.journal-title a{
    color:white;
    text-decoration:none;
  font-family: 'novecentosanswide_demibold';
  font-size: 33.6px;
    font-size: 2.1rem;
    margin-left:20px;
  
}

.journal-title p{
    font-size:2rem;
}

.journal-title .entry-title{
    max-width:75%;
      width:700px;
}

 .journal-entry-meta .entry-meta {
    background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: 'novecentosanswide_normal',sans-serif;
    padding: 1.00005rem 1.5rem;
    left: 0;
    text-transform: uppercase;
    margin-left:320px;
    font-size:1rem;
    position:absolute;
}

 .single-journal-entry-meta{
    background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: 'novecentosanswide_normal',sans-serif;
    font-weight:50;
    padding: 1.00005rem 1.5rem;
    left: 0;
    text-transform: uppercase;
    margin-left:220px;
    font-size:1rem;
    position:absolute;
}

.journal-button a{
   color:black;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1.75rem;

}

.journal-button{
padding-top:20px;
background-color:transparent;
margin-left:50px;
color:black;
}


.home-hero {
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../images/hero-image/home-hero.jpg')no-repeat top;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    width:100%;
}




.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	    max-width: 640px;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}



/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.comments-area{

    margin-left:60px;
}

.comment-author cite {
    font-style: normal;
    font-weight: 700;
    font-family: 'merriweatherbold';
}

.comment-metadata{

    font-family: 'merriweatherlight';
    color: gray;
    margin-bottom: .75rem;

}

.comment-content a {
    word-wrap: break-word;
    color:#248a83
}

.reply{

 font-family: 'merriweatherlight';

}

input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 0;
}
