/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


.site-content {
    display: -webkit-flex;
    display: -ms-flexbox;

    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 50px;
}
 .content-area{
 border-right: 1px solid #e1e1e1;
    padding-right: 5%;

}

.header-wrap img{

    height: auto;
    max-width: 100%;

}


.type-post .entry-header{
  line-height: 0;
    position: relative;

}
 .type-post .entry-title {


font-family: Novecento Sans Web,sans-serif;

    position: absolute;
    font-weight: 600;


    background-color: #248a83;
    text-transform:uppercase;
     padding: .75rem 1.5rem;
        margin-top: 2.25rem;
    max-width: 85%;
    top: 0;
    text-align:left;
    text-decoration:none;

}

 .type-post .entry-meta{
   background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.00005rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    margin-right:18rem;
    }


.content-area{
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 100%;
}


    .home-hero{
    background: linear-gradient( to bottom,
    rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
    url('../../images/logos/inhabitent-logo-full.svg') no-repeat center,
    url('../../images/hero-image/home-hero.jpg') ;

  -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70vh;
}

    .logo-header{
    background:  url('http://images.clipartpanda.com/tent-clipart-black-and-white-white-black-tent-hi.png')
    }



.sticky {
	display: block;
}


.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	    max-width: 640px;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
