/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


.site-content {
 margin-left: auto;
    margin-right: auto;

    /*width: 1120px;*/


}
.content-area {
margin-left:30px;
    width: 100%;
    border-right: 1px solid #e1e1e1;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.journal-site-content{

    display:flex;

}

.header-wrap img{
    height: auto;

}

.entry-header img{
    height:520px;
    width:760px;

}

.type-post .entry-header{

    position: relative;

}



.journal-title  {

    background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 1.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;

    top: 0;

}

.journal-title a{

    color:white;
    text-decoration:none;
}

.journal-title p{

    font-size:2rem;
}

 .journal-entry-meta .entry-meta {
    background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.00005rem 1.5rem;
    left: 0;
    text-transform: uppercase;
    margin-left:210px;
    font-size:1rem;
    position:absolute;
}



.journal-button a{
   color:black;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    margin-top: 1.75rem;

}

.journal-button{
padding-top:20px;
background-color:transparent;
margin-left:50px;
color:black;
}




.entry-content{


}


.home-hero {
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../images/hero-image/home-hero.jpg')no-repeat top;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    width:100%;
}


.logo-header{
    background:  url('http://images.clipartpanda.com/tent-clipart-black-and-white-white-black-tent-hi.png')
    }

.sticky {
	display: block;
}


.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	    max-width: 640px;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}



/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.entry-footer{


}

