/*--------------------------------------------------------------
#  Search Form
--------------------------------------------------------------*/



.form{
  display:flex;
}
.toggle:before {
   background: none;
    font-family: FontAwesome;
    content: "\f00e";
   border: medium none;
   color: #248a83;
   cursor: pointer;
   display: block;
   height: 20px;

   right: 0;
   width: 50px;
   padding-left:20px;
}


.searchform {

   height: 40px;
   margin: 0;
   opacity: 0;
   padding: 0;
   visibility: hidden; /** Hide our form, for now. **/
   width: 10px; /** The current width is set to 10px, when we'll hover on the form, it'll expand to 250px. **/
   -webkit-transition: all 0.2s ease-in-out; /** Transitions: increase the 0.2s to slow (1s for example) the fading/sliding effect. **/;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
}

.form:hover .searchform {

   opacity: 1;
   visibility: visible; /** Show our form. **/
   width: 150px; /** This is the new of the form, expanding from 10px. **/
   -webkit-transition: all 0.2s ease-in-out; /** Transitions: increase the 0.2s to slow (1s for example) the fading/sliding effect. **/;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
}

.searchform #s {
    background: #EFF4FA;
    border: medium none;
    color: #2f1339;

    font-family: helvetica,verdana,arial,sans-serif;
    font-size: 12px;
    height: 40px;
    padding: 0 15px;
    outline: none;
    width: 100%;
}
.searchform #searchsubmit {
   background: none;
   border: medium none;
   color: #2f1339;
   cursor: pointer;
   display: block;
   height: 40px;
   position: absolute;
   right: 0;
   width: 50px;
}

.site-main-findus{

  margin-left:50px;
  margin-top:75px;
}

.content-area-body-four{

margin-top:60px;
  margin-left:50px;
}


.title-green h1{
  font-family: 'novecentosanswide_demibold';
}

.title-green a:hover{

  color:#2f1339;
}

.comment-body{
padding-top:20px;
border-bottom: 1px solid #e1e1e1;
padding-bottom:10px;
width:400px;


}