
.product-page-header{
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;


}

.product-type-list{

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 19.2px;
    font-size: 1.2rem;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;

}

.ind-product-type{
    margin: 0 1.5rem;
    margin-bottom:1.5rem;

}

.ind-product-type a{

    text-decoration:none;
    color:#248a83;

}

.product-grid{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    width:100%;
    flex-wrap:wrap;
}

.product-grid-item {
    -webkit-flex: 0 1 23%;
    -ms-flex: 0 1 23%;

    margin-bottom: 1.5rem;
}

.product-grid-item img{
    left: 50%;
    max-height: 250px;
    width:auto;
}

.product-grid-item a{
    text-decoration:none;

}
 .product-grid-item-info{
    display:flex;
 }
