.sidebar-block{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left:3rem;
  width:45%;

}

.widget-area{
  padding-left: 10%;
  
}



.day-of-week{
  font-weight:bold;
}
.contact-info{

  padding-left:40px;
}



.contact-info ul{
list-style:none;
-webkit-padding-start: 0px;

}

.contact-info li span{
  display:inline-block;
  font-size:18px;
  padding-left:20px;
}

.contact-info a{
  color:#248a83

}

.contact-info a:hover{
  color:purple;

}

.fa {
  color:white;
}

.fa-phone:before {
    content: "\f095";
    color:black;
}

.fa-envelope:before {
    content: "\f0e0";
    color:black;
}



.widget_archive a{

  color:#248a83
}

