/*--------------------------------------------------------------
# Single-Post
--------------------------------------------------------------*/

.entry-footer{
font-family:Novecento Sans Web,sans-serif;

}

.post-navigation a {
    color: black;
    font-size:20px;
    }

.cat-links {
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase;
    color:black;
    font-size:20px;
    margin-right: 1.5rem;
}
.cat-links a{

  color:#248a83;
  text-decoration:none;
}

.tags-links {

    color:black;
    font-size:20px;
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase;

}

.tags-links a{
   color:#248a83;
   text-decoration:none;

}
.fa{
    color:white;
}

.nav-links{
  display:none;
}

.entry-info{
  display:block;
  line-height:3;
}

.comment-reply-title{
  color:black;
}



.comment-form p{
  font-size:20px;
}