/*--------------------------------------------------------------
# Single-Product
--------------------------------------------------------------*/


.archive-title{
    text-align:center;
}

.archive-title p{
    font-size:20px;
}

.single-content-wrapper{
    padding-left:20px;
}

.single-image-wrapper{

    padding-top:48px;
}

.single-content-area{
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left:3rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.single-product-title h1{
    color:#d99054;
    font-family: 'novecentosanswide_demibold',sans-serif;
    font-size:2.4rem;
    
}

.single-price{
    font-family: 'novecentosanswide_normal',sans-serif;
    font-size: 28.8px;
    font-size: 1.8rem;
    margin-top: 0;
    text-transform: uppercase;
        margin-bottom: 0;
}



.fa-thumbs-up:before{
    color:black;
}

.fa-pinterest-p:before{
    color:black;
}
.fa-twitter:before{
    color:black;
}

.title-green a{
    color:#248a83
}

.product-grid-item{

        border: 1px solid #e1e1e1;
}

.product-grid-item-info{
justify-content:space-between;
  display:flex;
  align-items:center;
}

.product-grid-item-info {
    
    font-size: 0.9rem;
    padding: .75rem 1rem;
}