/*--------------------------------------------------------------
# Single-Post
--------------------------------------------------------------*/

.nav-links{
  display:none;
}

.join{
font-family:Merriweather Web,serif;
 font-size:20px;

}

.entry-info{
  display:block;
  line-height:3;
}

.comment-reply-title{

  color:black;
}

.comment-form p{

  font-size:20px;
}

.logged-in-as{

  display:none;
}

.comment-form-comment label{

  font-family:Novecento Sans Web,sans-serif;
  text-transform:uppercase;
}