/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
 .container{
    margin-left: auto;
    margin-right: auto;
    width: 1120px;

  }

.site-footer{
    background: url('../../images/footer-background/dark-wood.png');
    background-size: 512px 512px;
    color: #fff;

}

.footer-blocks{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    font-family: 'Merriweather Web',serif;
    line-height: 1.75;

}

.footer-block-item{
    margin: 3rem 0;
    padding-right: 1.5rem;
    width: 25%;
}

.footer-block-item a{
    text-decoration:none;
    color:white;
}

.footer-blocks h3{
    color: #d99054;
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-bottom: .75rem;
    text-transform: uppercase;

}
.footer-blocks p {
    margin-bottom: .5rem;
    color:white;
    font-size: 20px;
}
.footer-blocks i {
    font-size: 20px;
    font-size: 1.25rem;
    margin-right: .5rem;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:white;
}


.footer-block-item:last-child {
    padding-right: 0;
    width: 50%;
}
.footer-block-item .text-logo {
    margin-top: 1rem;
    text-align: right;
}
.footer-block-item .text-logo img {
    max-width: 50%;
}
.copyright {
    font-family: Novecento Sans Web,sans-serif;
    padding: 1.5rem 0;
    text-align: center;
    text-transform: uppercase;
    color:white;
    }