.latest-adventures{


}

.canoe-girl{
  background:
    url('../../images/adventure-photos/canoe-girl.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;

}

.beach-bonfire{
  background:
    url('../../images/adventure-photos/beach-bonfire.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;

}

.mountain-hikers{
  background:
    url('../../images/adventure-photos/mountain-hikers.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;
}

.night-sky{
  background:
    url('../../images/adventure-photos/night-sky.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;
}

.night-sky{

}