.latest-adventures{
 display:flex;
    flex-flow:row wrap;
    width:100%;
    justify-content:center;

}

.canoe-girl{
  background:
    url('../../images/adventure-photos/canoe-girl.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;

}

.beach-bonfire{
  background:
    url('../../images/adventure-photos/beach-bonfire.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;

}

.bundle1{

    background-size:cover;
    display:block;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;
}

.bundle2{
    display:flex;
}

.mountain-hikers{
  background:
    url('../../images/adventure-photos/mountain-hikers.jpg');
height:300px;

    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;
}

.night-sky{
  background:
    url('../../images/adventure-photos/night-sky.jpg');
height:300px;
 flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:0.5%;
}

