

.latest-adventures{
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-bottom:2rem;

}

.latest-adventures-header{
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 3.75rem;
    text-align: center;
}

.inhabitent-journal-container{
    display:block;
}


.adventure-photos{
    margin: 1.5rem;
}

.adventure-photos a{

    text-decoration:none;
    color: #fff;
}

.adventure-photos a:hover{
    color: #f0e4d1;
}

.adventure-info{
    display:block;
}

.adventure-button {

border-color: white;
background:transparent;
    color:white;

    border-radius: 0;

    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;

    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
margin-left:5%;
    margin-top: 1.75rem;
}


.adventure-button:hover{
    background-color:#248a83;
}

.canoe-girl{
    background:
    url('../../images/adventure-photos/canoe-girl.jpg');
    flex:2 1 59%;
    background-size:cover;
    display:flex;
    margin-right:1%;
    margin-bottom:0.5%;
    margin-left:0.5%;
    height:540px;
    background:cover;
}

.canoe-girl a{
    font-size:44px;
}

.canoe-girl .adventure-button a{
    font-size:16px;
margin-top: 1.75rem;
}

.beach-bonfire{
    background:
    url('../../images/adventure-photos/beach-bonfire.jpg');
    height:270px;
    flex:2 1 49%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-bottom:1%;
    margin-left:0.5%;
    background:cover;
}

.beach-bonfire a{
    font-size:33px;
}

.beach-bonfire .adventure-button a{
    font-size:16px;
margin-top: 1.75rem;
}

.bundle1{
    background-size:cover;
    display:block;
    margin-right:0.5%;
    margin-left:0.5%;
    height:270px;
}

.bundle2{
    display:flex;
    height:270px;
    overflow:hidden;
}

.mountain-hikers{
    background:
    url('../../images/adventure-photos/mountain-hikers.jpg');
    background-size:cover;
    display:flex 2 1 48%;
    margin-right:0.5%;
    margin-top:3%;

    background:cover;
}

.mountain-hikers a{
    font-size:32px;
    margin-left:3%;
}

.mountain-hikers .adventure-button a{
    font-size:16px;
margin-top: 1.75rem;
}

.night-sky{
    background:
    url('../../images/adventure-photos/night-sky.jpg');
    height:300px;
    flex:2 1 48%;
    background-size:cover;
    display:flex;
    margin-right:0.5%;
    margin-left:3%;
    margin-top:3%;
background-size:cover;
background-position: center bottom;

}

.night-sky a{
    font-size:32px;
}

.night-sky .adventure-button a{
    font-size:16px;
margin-top: 1.75rem;
}
.adventure-photos a h3{
    font-family: Novecento Sans Web,sans-serif;
}

h3 a:hover{
color: #f0e4d1;

 }

.more-button a{


    color:white;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    margin-top: 1.75rem;
}

.more-button{

background-color:#248a83;
margin-left:50px;
}