/*--------------------------------------------------------------
#  Search Form
--------------------------------------------------------------*/

.header-search{


    line-height: 1;


}
.header-search fieldset {
    padding: 0;
}

fieldset {
    border: 0;
    padding: 0;
    padding-bottom: .75rem;
    margin: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:white;
}

.header-search label {
    display: none;
    float: left;
    margin: 0;
}

label {
    color: #2f1339;
    display: block;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 17.6px;
    font-size: 1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.search-button{
  border:none;
  background:transparent;
  padding:none;
  font-size: 1.2rem;
  padding: 0rem 0rem;
  margin-top:3px;


}