.sidebar-block{
    padding-top: 3rem;
    padding-bottom: 3rem;
  width:45%;

}

.widget-area{

      padding-left: 5%;
}

.widget-area p{
padding-left: 5%;
  font-size:18px;
}

.contact-info{

      padding-left: 5%;

}

.contact-info ul{
list-style:none;
-webkit-padding-start: 0px;

}



.contact-info li span{
  display:inline-block;
font-size:18px;
padding-left:20px;
}

.contact-info li{


}

.fa {
  color:black;
}