/*--------------------------------------------------------------
# Single-Product
--------------------------------------------------------------*/


.archive-title{
    text-align:center;
}

.archive-title p{
    font-size:20px;
}

.single-content-wrapper{
    padding-left:20px;
}

.single-content-area{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left:3rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.single-product-title{
    color:#d99054
}

.single-price{
    font-family: Novecento Sans Web,sans-serif;
    font-size: 28.8px;
    font-size: 1.8rem;
    margin-top: 0;
    text-transform: uppercase;
}

.entry-content p{
    font-size:20px;
}

.fa-thumbs-up:before{
    color:black;
}

.fa-pinterest-p:before{
    color:black;
}
.fa-twitter:before{
    color:black;
}