/*--------------------------------------------------------------
#  Tax Product Type
--------------------------------------------------------------*/

.product-grid-item-info{
justify-content:space-between;
  display:flex;
  align-items:center;
}